.calc {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}
.calc__title-container {
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(271deg, #4BB82F 0%, #B0F49E 92.89%);
    margin-top: 75px;
}

.calc__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 67px;
}
.calc__tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 774px;
}
.calc__tab {
    width: 377px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 8px rgba(183, 202, 178, 0.55));
    background: #FFFFFF;

    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    color: #4BB82F;
    text-align: center;
}
.calc__tab:hover {
    background: rgb(219, 255, 209);
}
.calc__tab.selected {
    background: rgba(75, 184, 47, 0.55);
    color: #FFFFFF;
}

.calc__strip-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 774px;
    margin-top: 25px;
}

.calc__strip {
    width: 694px;
    height: 60px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(183, 202, 178, 0.55);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4BB82F;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.calc__strip:hover {
    width: 654px;
    margin-left: 20px;
}
.calc__strip-type {
    margin-left: 22px;
}
.calc__strip-amount {
    margin-right: 22px;
}
.calc__delete-strip {
    margin-right: 29px;
    transition: all 0.1s ease-in;
    cursor: pointer;
    background: url("../img/icons/delete.svg");
    width: 22px;
    height: 28px;
    border: none;
}
.calc__delete-strip:hover {
    scale: 1.2;
}

.calc__final-buttons {
    width: 774px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}
.calc__calc-button, .calc__add-button {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    height: 47px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.calc__calc-button {
    width: 223px;
    background: rgba(37, 96, 22, 0.77);
}
.calc__calc-button:hover {
    background: rgb(37, 96, 22);
}
.calc__add-button {
    width: 197px;
    background: rgba(75, 184, 47, 0.55);
}
.calc__add-button:hover {
    background: rgba(75, 184, 47, 0.8);
}

.final-request {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-request__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 905px;
    transition: all 0.1s ease-in;
}
.final-request__arrow {
    border: none;
    background: none;
    width: 65px;
    height: 65px;
    transition: all 0.1s ease-in;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.final-request__arrow:hover {
    scale: 1.1;
}
.final-request__slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 774px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(183, 202, 178, 0.55);
    transition: 0.1s all ease-in-out;
}
.final-request__slide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 676px;
    margin-top: 25px;

    color: #256016;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 213%; /* 42.6px */
}
.final-request__slide-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 676px;
    margin-top: 39px;

}
.final-request__slide-text {
    width: 307px;
    color: #256016;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 61px;
    position: relative;
    word-wrap: break-word;
}
.final-request__slide-text_comment {
    width: 676px;
}
.final-request__slide-text::before {
    content: url("../img/icons/modal-dot.svg");
    position: absolute;
    width: 10px;
    height: 10px;
    left: -19px;
}
.final-request__pages{
    width: 119px;
    height: 34px;
    border-radius: 20px;
    background: #FFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #256016;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
}
.final-request__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 774px;
    height: 151px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(183, 202, 178, 0.55);
    margin-top: 30px;
}
.final-request__warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 676px;
    margin-top: 25px;
}
.final-request__price {
    color: #256016;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline #256016;
}
.final-request__price-warning {
    color: #256016;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.final-request__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 676px;
    margin-top: 12px;
}
.final-request__call-button, .final-request__cancel-button {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 41px;
    border: none;
    border-radius: 3px;
    transition: all 0.1s ease-in;
}
.final-request__call-button {
    width: 216px;
    background: rgba(75, 184, 47, 0.55);
}
.final-request__cancel-button {
    background: rgba(37, 96, 22, 0.77);
    width: 133px;
}
.final-request__call-button:hover {
    background: rgba(75, 184, 47, 0.8);
}
.final-request__cancel-button:hover {
    background: rgb(37, 96, 22);
}

.blur {
    filter: blur(3px);
}

.phone-call {
    width: 501px;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone-call__header {
    display: flex;
    justify-content: space-between;
    width: 463px;
    align-items: center;
    margin-top: 11px;
}
.phone-call__title {
    color: #4BB82F;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 75px;
}
.phone-call__close {
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    width: 40px;
    height: 40px;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.phone-call__close:hover {
    scale: 1.1;
}
.phone-call__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 307px;
    margin-top: 40px;
}
.phone-call__submit {
    margin-bottom: 40px;
}